CREATE DATABASE [coworkingdb]
GO
USE [coworkingdb]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[rent_id] [int] NULL,
	[employees_id] [int] NULL,
	[created_date] [datetime] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[company_name] [nvarchar](50) NULL,
	[tax_id] [nvarchar](50) NULL,
	[pay_deadline] [datetime] NULL,
	[cancelled_daedline] [datetime] NULL,
	[total_price] [decimal](18, 0) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employees_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[location_id] [int] NULL,
	[birth] [date] NULL,
	[department] [nvarchar](50) NULL,
	[job_title] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[employees_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[location_id] [int] NULL,
	[category] [nvarchar](50) NULL,
	[full_name] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
	[cost] [decimal](18, 0) NULL,
	[total_amount] [int] NULL,
 CONSTRAINT [PK_equipment] PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[longitude] [decimal](18, 0) NULL,
	[latitude] [decimal](18, 0) NULL,
	[mrt_info] [nvarchar](50) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rents]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rents](
	[rent_id] [int] IDENTITY(1,1) NOT NULL,
	[space_id] [int] NULL,
	[price_type] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_rents] PRIMARY KEY CLUSTERED 
(
	[rent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scrap_list]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scrap_list](
	[scrap_id] [int] IDENTITY(1,1) NOT NULL,
	[space_id] [int] NULL,
	[equipment_id] [int] NULL,
	[amount] [int] NULL,
	[reason] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_fix_list] PRIMARY KEY CLUSTERED 
(
	[scrap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[space_asserts]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[space_asserts](
	[asserts_id] [int] IDENTITY(1,1) NOT NULL,
	[space_id] [int] NULL,
	[equipment_id] [int] NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_space_asserts] PRIMARY KEY CLUSTERED 
(
	[asserts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spaceimage]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spaceimage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[space_id] [int] NOT NULL,
	[image_path] [nvarchar](max) NULL,
 CONSTRAINT [PK_spaceimage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spaces]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spaces](
	[space_id] [int] IDENTITY(1,1) NOT NULL,
	[location_id] [int] NULL,
	[space_number] [nvarchar](50) NULL,
	[capacity] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Spaces] PRIMARY KEY CLUSTERED 
(
	[space_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/6/10 下午 02:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[image] [nvarchar](max) NULL,
	[phone] [nvarchar](50) NULL,
	[role] [int] NULL,
	[line_id] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[address] [nvarchar](255) NULL,
	[bio] [nvarchar](max) NULL,
	[industry] [nvarchar](50) NULL,
	[two_factor_enabled] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__two_facto__66603565]  DEFAULT ((0)) FOR [two_factor_enabled]
GO
ALTER TABLE [dbo].[Spaces]  WITH CHECK ADD  CONSTRAINT [FK_Spaces_Locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Spaces] CHECK CONSTRAINT [FK_Spaces_Locations]
GO

ALTER TABLE [dbo].[Locations] ADD [owner_user_id] [int] NULL
GO

