<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">WorkspaceCollective</a>
    <div class="nav-links">
      <a routerLink="/all-spaces" routerLinkActive="active">瀏覽空間</a>
      <a href="#">解決方案</a>
      <a href="#">企業方案</a>
      <a href="#">關於我們</a>
    </div>
    <div class="header-actions">

      <!-- 未登入 -->
      <ng-container *ngIf="!isLoggedIn">
        <button class="btn-login" routerLink="/login">登入</button>
        <button class="btn-book" routerLink="/all-spaces">立即預訂</button>
      </ng-container>

      <!-- 已登入 -->
      <ng-container *ngIf="isLoggedIn">
        <button class="btn-book" routerLink="/all-spaces">立即預訂</button>
        <div class="user-menu">
          <button class="user-avatar-btn" [class.active]="showDropdown" (click)="toggleDropdown()">
            <span class="avatar-circle" style="overflow: hidden; display: flex; align-items: center; justify-content: center;">
           <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar" style="width: 100%; height: 100%; object-fit: cover;" />
            <ng-container *ngIf="!avatarUrl">{{ avatarInitial }}</ng-container></span>
            <span class="welcome-text">歡迎，{{ username }}</span>
          <span class="material-symbols-outlined dropdown-icon" [class.open]="showDropdown">menu</span>
          </button>

        <div class="dropdown-menu" [class.is-open]="showDropdown">
          @if (canLoginBackend) {
            <a class="dropdown-item" routerLink="/backend" (click)="showDropdown=false">
              <span class="material-symbols-outlined">dashboard</span>
              進入後台
            </a>
          }
          <a class="dropdown-item" routerLink="/my-orders" (click)="showDropdown=false">
            <span class="material-symbols-outlined">receipt_long</span>
            我的訂單
           </a>
          <a routerLink="/user-profile" class="dropdown-item"(click)="showDropdown=false">
            <span class="material-symbols-outlined">manage_accounts</span>
            個人資料
          </a>
          <div class="dropdown-divider"></div>
            <button class="dropdown-item text-danger" (click)="logout()">
              <span class="material-symbols-outlined">logout</span>
              登出帳號
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
